@font-face {
  font-family: "Euclid Circular B";
  src: url("/stock_image/src/assets/fonts/Euclid\ Circular\ B\ Regular.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("/stock_image/src/assets/fonts/Euclid\ Circular\ B\ Regular.ttf")
      format("truetype"); /* iOS and Older Browsers */
  font-style: normal;
}

body {
  background-image: url("/fuji-berg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  scroll-behavior: smooth;
  font-family: "Euclid Circular B", sans-serif;
}

.landing_txt {
  color: white;
  font-size: 4rem;
  margin: 7rem auto 0rem;
  max-width: 60%;
  text-align: center;
  font-family: "Euclid Circular B", sans-serif;
  font-weight: 700;
}

.trending {
  padding: 0.1rem 0.9rem;
  width: fit-content;
  min-height: 1.75rem;
  background: #d9d9d947;
  margin: 2.5rem auto 0rem;
  border: 3px #b6b6b66e solid;
  border-radius: 8px;
  color: white;
  backdrop-filter: blur(4px);
  text-align: center;
}

.resultText {
  color: white;
  text-align: center;
  padding: 2rem 0 1rem;
}

.related {
  display: flex;
  background: #f5f5f5;
  justify-content: space-around;
  padding: 1rem 0;

  max-width: 100%;
  overflow-x: auto;
}

.related p {
  border: 1px solid #d1d1d1;
  padding: 0.75rem 3rem;
  color: #767676;
  cursor: pointer;
  margin: 0 6px;
}

.related p:hover {
  background: #eeeeee;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 8rem auto 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 8px; /* For horizontal scroll */
}

/* The scrollbar */
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-corner {
  background-color: black;
}

@media (max-width: 1168px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  .img_details {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .details-grid {
    display: flex;
    max-width: 100% !important;
    justify-content: space-evenly;
    /* row-gap: 1.5rem; */
    flex-direction: row-reverse;
  }

  .information-section {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 68.75%;
  }

  .results {
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }

  .img_details img {
    max-width: 75%;
    align-self: center;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 56.25%;
  }

  .results {
    grid-template-columns: 1fr; /* 1 column for small screens */
    padding: 1rem 0; /* Adjust padding as needed */
  }
}
